{% extends "base.html" %}

{% block content %}

    <!-- Carousel Start -->
    {% include "includes/homepage/carousel.html" %}
    <!-- Carousel End -->

    <!-- Modal Search Start -->
    {% include "includes/homepage/modal_search.html" %}
    <!-- Modal Search End -->

    <!-- About Start -->
    {% include "includes/homepage/about.html" %}
    <!-- About End -->

    <!-- Countries Visa Start -->
    {% include "includes/homepage/countries.html" %}
    <!-- Countries Visa End -->

    <!-- Features Start -->
    {% include "includes/homepage/features.html" %}
    <!-- Features End -->

    <!-- Travel Tour Start -->
    {# {% include "includes/homepage/travel_tour.html" %} #}
    <!-- Travel Tour End -->

    <!-- Customer Result Start -->
    {% comment %} {% include "includes/homepage/customer_result.html" %} {% endcomment %}
    <!-- Customer Result End -->

{% endblock %}

