version: '3.9'

services:

  db:
    image: postgres:15
    container_name: visasaigon_db
    restart: always
    env_file:
      - ./backend/.env.prod
    volumes:
      - visasaigon_postgres_data:/var/lib/postgresql/data
    networks:
      - visasaigon_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s


  web:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    container_name: visasaigon_web
    image: visasaigon_backend
    restart: always
    env_file:
      - ./backend/.env.prod
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.prod
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - static_volume:/vol/static
      - media_volume:/vol/media
    networks:
      - visasaigon_network


  nginx:
    image: nginx:latest
    container_name: visasaigon_nginx
    restart: always
    depends_on:
      - web
    ports:
      - "80:80"
      - "443:443"

    volumes:
      # NGINX CONF
      - ./backend/docker/nginx.conf:/etc/nginx/nginx.conf:ro

      # static & media
      - static_volume:/vol/static
      - media_volume:/vol/media

      # === CERTBOT – DÙNG FILE TRÊN VPS ===
      - /etc/letsencrypt/live/visasaigon.net/fullchain.pem:/etc/nginx/ssl/fullchain.pem:ro
      - /etc/letsencrypt/live/visasaigon.net/privkey.pem:/etc/nginx/ssl/privkey.pem:ro

      # Certbot challenge
      - /var/www/certbot:/var/www/certbot

      # logs
      - nginx_logs:/var/log/nginx

    networks:
      - visasaigon_network


volumes:
  visasaigon_postgres_data:
  static_volume:
  media_volume:
  nginx_logs:

networks:
  visasaigon_network:
    driver: bridge
