version: '3.9'

services:

  # ======================================================
  # PostgreSQL
  # ======================================================
  db:
    image: postgres:15
    container_name: visasaigon_db
    restart: always
    env_file:
      - ./backend/.env.prod
    volumes:
      - visasaigon_postgres_data:/var/lib/postgresql/data
    networks:
      - visasaigon_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # ======================================================
  # Django + Gunicorn
  # ======================================================
  web:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    image: visasaigon_backend
    container_name: visasaigon_web
    restart: always
    env_file:
      - ./backend/.env.prod
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.prod
    depends_on:
      db:
        condition: service_healthy
    networks:
      - visasaigon_network
    volumes:
      - static_volume:/vol/static
      - media_volume:/vol/media

  # ======================================================
  # NGINX
  # ======================================================
  nginx:
    image: nginx:latest
    container_name: visasaigon_nginx
    restart: always
    depends_on:
      - web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./backend/docker/nginx.conf:/etc/nginx/nginx.conf:ro

      - static_volume:/vol/static
      - media_volume:/vol/media

      # Let's Encrypt
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot

      # logs
      - nginx_logs:/var/log/nginx

    networks:
      - visasaigon_network

  # ======================================================
  # Certbot (Auto Renewal)
  # ======================================================
  certbot:
    image: certbot/certbot
    container_name: visasaigon_certbot
    entrypoint: "/bin/sh -c"
    command: >
      trap exit TERM;
      while :; do
        certbot renew --webroot -w /var/www/certbot;
        sleep 12h;
      done
    volumes:
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    networks:
      - visasaigon_network
    depends_on:
      - nginx

# ==========================================================
# VOLUMES
# ==========================================================
volumes:
  visasaigon_postgres_data:
  static_volume:
  media_volume:
  nginx_logs:

# ==========================================================
# NETWORK
# ==========================================================
networks:
  visasaigon_network:
    driver: bridge
